html {
  margin: 0;
  padding: 0;
  border: 0; }

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

a img {
  border: none; }

body {
  font-family: Georgia, Times New Roman, serif;
  font-size: 18px;
  width: 700px;
  margin: 0 auto; }
  body .wrapper {
    width: 700px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1; }
  body #brents-blog {
    padding-top: 45px;
    display: inline;
    float: left;
    margin-right: 10px;
    width: 700px; }
    * html body #brents-blog {
      overflow-x: hidden; }
  body a {
    color: #333; }
  body h1 {
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 37px;
    font-weight: normal;
    text-align: center;
    font-family: Georgia, Times New Roman, serif;
    letter-spacing: -0.03em; }
    body h1 a {
      text-decoration: none;
      color: black; }
  body h2 {
    font-size: 25px;
    line-height: 28px;
    font-weight: normal;
    text-align: center;
    color: #999;
    font-family: Georgia, Times New Roman, serif;
    letter-spacing: -0.03em; }
  body h3 {
    margin-top: 5px;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal;
    text-align: center;
    color: #aaa;
    font-family: Georgia, Times New Roman, serif;
    letter-spacing: -0.03em; }
  body h4 {
    font-size: 17px;
    font-weight: normal;
    font-family: Georgia, Times New Roman, serif;
    letter-spacing: -0.03em; }

article h3 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 20px;
  color: #666; }
article h2 {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 27px;
  color: #333; }
article header h4 {
  display: inline-block; }
article header time {
  display: inline-block;
  padding-left: 10px;
  font-size: 80%;
  color: #aaa;
  font-style: italic; }
article aside.note {
  background: white url(/images/note.gif) no-repeat -5px -5px; }
article aside.caution {
  background: white url(/images/caution.gif) no-repeat -5px -5px; }
article aside.tip {
  background: white url(/images/tip.gif) no-repeat -5px -5px; }

article.complete hgroup {
  text-align: center;
  margin-bottom: 30px; }
  article.complete hgroup h1 {
    font-size: 35px;
    margin-bottom: 15px; }
  article.complete hgroup h2 {
    text-align: center;
    font-size: 25px;
    padding: 0px; }
  article.complete hgroup time {
    margin: 5px 0px 0px 0px;
    padding: 0px;
    font-style: normal;
    font-size: 16px; }

footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 700px;
  margin-top: 40px; }
  * html footer {
    overflow-x: hidden; }
  footer nav {
    text-align: center; }
    footer nav ul {
      margin: 0;
      padding: 0;
      border: 0;
      overflow: hidden;
      *zoom: 1; }
      footer nav ul li {
        list-style-image: none;
        list-style-type: none;
        margin-left: 0px;
        white-space: nowrap;
        display: inline;
        float: left;
        padding-left: 4px;
        padding-right: 4px; }
        footer nav ul li:first-child, footer nav ul li.first {
          padding-left: 0; }
        footer nav ul li:last-child {
          padding-right: 0; }
        footer nav ul li.last {
          padding-right: 0; }
    footer nav ul {
      display: inline-block;
      /* For normal, healthy browsers */ }
      * html footer nav ul {
        /* for IE6 */
        display: inline; }
      * + html footer nav ul {
        /* for IE7 */
        display: inline; }

#disqus_thread {
  margin-top: 50px;
  margin-bottom: 30px; }

.highlight {
  margin: 12px 0; }

.highlight pre {
  font-family: 'Menlo', 'Courier New', 'Terminal', monospace;
  background-color: #232323;
  color: #E6E0DB; }

code {
  border: solid 1px #CCC;
  background-color: #EEE;
  font-family: 'Menlo', 'Courier New', 'Terminal', monospace;
  font-size: 15px;
  padding: 0 3px; }

pre code {
  display: block;
  background-color: #EEE;
  padding: 5px 7px; }

#dsq-subscribe {
  display: none; }
