// This import applies a global reset to any page that imports this stylesheet.
@import "base";
@import "layout";
@import "skeleton";

@import "partials/base";

@import "typography";

body {

  margin: 0 auto;
  h4 {
    color: #ccc;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  #brents-blog {
    padding-top: 25px;

    h1 {
      text-align: center;
      margin-bottom: 25px;
      font-weight: bold;
    }
  }

  h1, h2, h4, footer {
    a {
      color: #333;
      &:hover {
        color: #7d7d7d;
      }
    }
  }

  a {
    text-decoration: none;
    color: #6c90b2;
    &:hover {
      color: #83ace9;
    }
  }

  #blog-post-listing {
    h4 {
      font-weight: bold;
      display: block;
      line-height: 20px;
    }
    text-align: center;
    article {
      padding-bottom: 17px;
    }
  }
}

article {
  h3 {
    text-align: left;
    margin-bottom: 10px;
    color: #666;
  }

 h2 {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #333;
  }

  header {
    time {
      padding-left: 10px;
      font-size: 80%;
      color: #aaa;
      font-style: italic;
    }
  }
}

article.complete {

  hgroup {
    text-align: center;
    margin-bottom: 30px;
    h1 {
      margin-bottom: 15px;
    }
    h2 {
      text-align: center;
      padding: 0px;
    }
    time {
      margin: 5px 0px 0px 0px;
      padding: 0px;
      font-style: normal;
      font-size: 16px;
    }
  }


}


footer {
  margin-top: 40px;
  nav {
    @include horizontal-lists;
    text-align: center;
    a {
      padding: 0px 2px 8px 2px;
    }
  }
}

h3 {
  padding-top: 20px;
}

em {
  font-weight: bold;
}

hr {
  margin-top: 35px;
}

#disqus_thread {
  margin-top: 50px;
  margin-bottom: 30px;
}

.highlight {
  margin: 12px 0;
}

.highlight pre {
  font-family: 'Menlo', 'Courier New', 'Terminal', monospace;
  background-color: #232323;
  color: #E6E0DB;
}

code {
  border: solid 1px #CCC;
  // background-color: #EEE;
  background-color: #2b2b2b;
  font-family: 'Menlo', 'Courier New', 'Terminal', monospace;
  font-size: 15px;
  padding: 0 3px;
}

pre code {
  display: block;
  background-color: #2b2b2b;
  // background-color: #EEE;
  padding: 5px 7px;
}
