<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="{{ page.title }} | Brent's Blog" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="" />
    <meta name="language" content="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/blog.css" />
    <link rel="stylesheet" href="/css/syntax.css" />

    <link href="//fonts.googleapis.com/css?family=Alegreya Sans&subset=latin" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Waiting for the Sunrise&subset=latin" rel="stylesheet" type="text/css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-10128745-7', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="column">
      {{ content }}
    </div>

    <div class="container">
      <footer>
        <nav>
          <a href="http://www.twitter.com/notbrent/">@notbrent</a>
          <a href="http://www.github.com/brentvatne/">github.com/brentvatne</a>
          <a href="mailto:brentvatne@gmail.com">brentvatne@gmail.com</a>
        </nav>
      </footer>
    </div>
  </body>
</html>
