<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="Brent Vatne" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Brent Vatne's blog" />
    <meta name="keywords" content="" />
    <meta name="language" content="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{{ page.title }}</title>
    <script type="text/javascript" src="http://use.typekit.com/zek4ano.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="/css/screen.css" />
    <link rel="stylesheet" href="/css/railscasts.css" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10128745-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <div class="sixteen columns">
        <section id="brents-blog">
          {{ content }}
        </section>
      </div>

      <div class="sixteen columns">
        <footer>
          <nav>
            <a href="http://www.github.com/brentvatne/">github.com/brentvatne</a>
            <a href="http://www.twitter.com/notbrent/">@notbrent</a>
            <a href="mailto:brentvatne@gmail.com">brentvatne@gmail.com</a>
          </nav>
        </footer>
      </div>
    </div>
  </body>
</html>
